*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4e217b;
}
.btn{
    width: 32em;
    height: 14em;
    border-radius: 8em;
    background-color: rgba(255,255,255,.3);
    box-shadow: 0 0 2em rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-border-radius: 8em;
    -moz-border-radius: 8em;
    -ms-border-radius: 8em;
    -o-border-radius: 8em;
    position: relative;
    padding: 2em;
    overflow: hidden;
}
.btn__sing{
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    -moz-transition: transform .3s ease;
    -ms-transition: transform .3s ease;
    -o-transition: transform .3s ease;
}
.btn__number{
    font-weight: 600;
    font-size: 6rem;
    background-color: #fff;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    color: #b474f4;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 1.5em;
}

.btn__number:hover{
    cursor: grab;
}



.btn__sing:active{
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}