@use '@/assets/style/global/_variables' as *;

.desktop-actions {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  .cart-icon {
    position: relative;
    cursor: pointer;
    font-size: 1.4rem;
    color: $color-text;

    .cart-count {
      position: absolute;
      top: -8px;
      right: -8px;
      background: $color-primary;
      color: #000;
      font-size: 0.7rem;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      animation: pop 0.3s ease;
    }
  }

  .login-btn {
    background: linear-gradient(90deg, $color-secondary, $color-primary);
    color: #000;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
  }

  .user-avatar-wrapper {
    position: relative;
    cursor: pointer;

    .user-avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: #000 solid 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      font-size: 1.22rem;

    }

    .user-menu {
      position: absolute;
      top: 45px;
      right: 0;
      background: $color-card;
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
      width: 200px;
      overflow: hidden;
      z-index: 1001;

      .menu-item {
        width: 100%;
        padding: 12px 16px;
        background: none;
        border: none;
        color: $color-text;
        text-align: left;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

.jump {
  animation: jump 0.5s ease;
}

@keyframes jump {
  0% { transform: translateY(0) scale(1.4); color: rgb(0, 110, 255); }
  50% { transform: translateY(-10px) scale(1.2); color: rgb(0, 110, 255); }
  100% { transform: translateY(0); color: rgb(0, 110, 255); }
}

@keyframes pop {
  0% { transform: scale(0.8); opacity: 0; }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); opacity: 1; }
}