@use '@/assets/style/global/_variables' as *;

.header {
  background: $color-bg;
  padding: 0.8rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .logo {
      font-size: 1.5rem;
      font-weight: 800;
      background: linear-gradient(90deg, $color-secondary, $color-primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      display: flex;
      justify-content: center;
      gap: 8px;
      .img-logo{
        width: 2.5rem;
         height: 2.5rem;
      }
    }
  }
}


